<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="https://www.twcc.ai/assets/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.all.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-JSONP/2.4.0/jquery.jsonp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.19.0/js/md5.min.js"></script>
</head>

<body>
    <div id="app">
        <v-app>
            <v-main>
                <v-container>
                    <v-card-title class="text-center justify-center py-6">
                        <h1 class="font-weight-bold text-h2 basil--text">
                            TWCC API 工程文件
                        </h1>
                    </v-card-title>
                    <v-dialog v-model="dialog" width="70%">
                        <v-card>
                            <v-toolbar dark color="primary">
                                <v-card-title>
                                    {{record_title}} 歷史資訊
                                </v-card-title>
                                <v-spacer></v-spacer>
                                <v-btn icon dark @click="dialog = false">
                                    <v-icon>close</v-icon>
                                </v-btn>
                            </v-toolbar>
                            <v-card-text>
                                <br>
                                <v-data-table :headers="record_headers" :items="record" hide-default-footer
                                    class="elevation-1"><template v-slot:item.explanation="{ item }">
                                        <v-tooltip bottom>
                                            <template v-slot:activator="{ on, attrs }">
                                                <v-badge bordered color="error" overlap>
                                                    <template v-slot:badge>
                                                        {{item.explanation.ex_list.length}}
                                                    </template>
                                                    <v-btn text v-bind="attrs" v-on="on">
                                                        {{item.explanation.summary}}
                                                </v-badge>
                                            </template>
                                            <span>
                                                <li v-for="(item, i) in item.explanation.ex_list" :key="i">
                                                    {{ item }}
                                                </li>
                                            </span>
                                        </v-tooltip>
                                    </template><template v-slot:item.commit_code="{ item }">
                                        <v-btn text @click="openurl(git_url + item.commit_code)"
                                            :disabled="item.commit_code.length < 7">
                                            {{item.commit_code.length > 6 ? item.commit_code.substr(0,
                                            6):item.commit_code}}
                                        </v-btn>
                                    </template></v-data-table>
                            </v-card-text>
                        </v-card>
                    </v-dialog>
                    <v-tabs v-model="tab" slider-size="4" slider-color="error" background-color="primary" light dark center-active grow>
                        <v-tab class="font-weight-black" v-for="item in tabList" :key="item">
                            {{ item }}
                        </v-tab>
                    </v-tabs>
                    <v-tabs-items v-model="tab">
                        <v-tab-item v-for="key in tabList" :key="key">
                            <v-card v-if="key == '參考文件'">
                                <v-data-table hide-default-footer :headers="reference_headers" :items="data[key]"
                                    :single-expand="true" :expanded.sync="expanded" item-key="name" show-expand>
                                    <template v-slot:expanded-item="{ headers, item }">
                                        <td :colspan="headers.length">
                                            <iframe onload="this.height=screen.height;" scrolling="yes" :src="item.url"
                                                width="100%"></iframe>
                                        </td>
                                    </template>
                                    <template v-slot:item.actions="{ item }">
                                        <v-icon class="mr-2" @click="openurl(item.url)">open_in_new</v-icon>
                                    </template>
                                </v-data-table>
                            </v-card>
                            <v-card v-else color="basil" flat>
                                <v-card-text>
                                    <v-data-table :headers="headers" :items="data[key]" hide-default-footer
                                        class="elevation-1"><template v-slot:item.explanation="{ item }">
                                            <v-tooltip bottom>
                                                <template v-slot:activator="{ on, attrs }">
                                                    <v-badge color="grey" overlap>
                                                        <template v-slot:badge>
                                                            {{item.explanation.ex_list.length}}
                                                        </template>
                                                        <v-btn text v-bind="attrs" v-on="on">
                                                            {{item.explanation.summary}}
                                                    </v-badge>
                                                </template>
                                                <span>
                                                    <li v-for="(item, i) in item.explanation.ex_list" :key="i">
                                                        {{ item }}
                                                    </li>
                                                </span>
                                            </v-tooltip>
                                        </template><template v-slot:item.commit_code="{ item }">
                                            <v-btn text @click="openurl(git_url + item.commit_code)"
                                                :disabled="item.commit_code.length < 7">
                                                {{item.commit_code.length > 6 ? item.commit_code.substr(0,
                                                6):item.commit_code}}
                                            </v-btn>
                                        </template><template v-slot:item.actions="{ item }">
                                            <v-icon class="mr-2" @click="openurl(item.path)">open_in_new</v-icon>
                                            <v-icon v-if="key == '新增功能' && client_key == server_key" class="mr-2"
                                                @click="openurl(item.git)">link
                                            </v-icon>
                                            <v-icon class="mr-2" @click="opendialog(item.record_path, item.situation)">article</v-icon>
                                        </template></v-data-table>
                                </v-card-text>
                            </v-card>
                        </v-tab-item>
                    </v-tabs-items>
                </v-container>
            </v-main>
        </v-app>
    </div>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                dialog: false,
                tab: 0,
                git_url: '',
                tabList: [],
                data: {},
                expanded: [],
                client_key: '',
                server_key: '',
                record_title: '',
                headers: [
                    {
                        text: '項目',
                        align: 'center',
                        value: 'situation',
                    },
                    { text: '版本', value: 'version', align: 'center' },
                    { text: '更新說明', value: 'explanation', align: 'center' },
                    { text: 'Commits code', value: 'commit_code', align: 'center' },
                    { text: '更新時間', value: 'update_time', align: 'center' },
                    { text: 'Actions', value: 'actions', sortable: false, align: 'center' },
                ],
                record_headers: [
                    { text: '版本', value: 'version', align: 'center' },
                    { text: '更新說明', value: 'explanation', align: 'center' },
                    { text: 'Commits code', value: 'commit_code', align: 'center' },
                    { text: '更新時間', value: 'update_time', align: 'center' }
                ],
                reference_headers: [
                    { text: '名稱', value: 'name', align: 'center' },
                    { text: '說明', value: 'explanation', align: 'center' },
                    { text: '更新時間', value: 'update_time', align: 'center' },
                    { text: 'Actions', value: 'actions', sortable: false, align: 'center' },
                ],
                record: []
            },
            methods: {
                openurl(path) {
                    window.open(path)
                },
                opendialog(path, title) {
                    this.record = []
                    this.record_title = title
                    const self = this
                    if (path == undefined) {
                        sweetAlert(
                            '無紀錄!',
                            '目前沒有歷史紀錄!',
                            'warning'
                        )
                    } else {
                        $.getJSON(`config/record/${path}`, function (record_res) {
                            self.record = record_res
                        }).done(function (d) {
                            self.dialog = true
                            self.$forceUpdate()
                        }).fail(function (d) {
                            sweetAlert(
                                '找不到檔案!',
                                '路徑錯誤請確認config!',
                                'error'
                            )
                        })
                    }
                },
                async GetLocalIPAddress() {
                    const self = this
                    $.ajax({
                        type: "GET",
                        url: 'https://api.myip.com/',
                        dataType: "json",
                        success: function (response) {
                            self.client_key = md5(response.ip)
                        },
                        error: function (thrownError) {
                            self.client_key = 'error'
                        }
                    })
                },
            },
            created() {
                this.GetLocalIPAddress()
                const self = this
                $.getJSON("config/config.json", function (config_res) {
                    self.tabList = config_res.tabList
                    self.git_url = config_res.git_url
                    self.server_key = config_res.key
                    for (let key in config_res.file_to_tab) {
                        $.getJSON(`config/${config_res.file_to_tab[key]}`, function (data_res) {
                            self.data[key] = data_res
                            self.$forceUpdate()
                        }).fail(function (d) {
                            sweetAlert(
                                `${key} json 找不到!`,
                                '路徑錯誤請確認config!',
                                'error'
                            )
                        })
                    }
                    self.$forceUpdate()
                })
                for (let key in this.data) {
                    for (let i = 0; i < this.data[key].length; i++) {
                        if (this.data[key][i].commit_code == undefined) {
                            this.data[key][i].commit_code = ''
                        }
                        const d = this.data[key][i].record
                        for (let j = 0; j < d.length; j++) {
                            if (d[j].commit_code == undefined) {
                                this.data[key][i].commit_code.record[j].commit_code = ''
                            }
                        }
                    }
                }
            },
        })
    </script>
</body>
<style>
    .v-btn {
        text-transform: none;
    }
</style>

</html>